{{ if site.Data.homepage.about.enable }}
{{ with site.Data.homepage.about }}
<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <img class="img-responsive mx-auto" src="{{ .image | absURL }}" alt="{{ .title }}" />
          <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">Quesos Luan
          </h1>
           <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Nuestro emprendimiento nace a partir de la iniciativa por desarrollar un negocio que nos permitiera pasar más tiempo de calidad en familia,
           oportunidad de incursionar en la distribución de productos de la zona llevándolos personalmente a nuestros clientes </p>
           <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Iniciamos llevando algunos pedidos que nuestros amigos nos pedían, poco a poco estos pedidos iban creciendo y se volvieron cada vez mas frecuentes así como la variedad de productos solicitados.</p>
           <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Por lo que decidimos facilitar la entrega de productos formalizando una ruta de entrega a conveniencia de nuestros clientes </p>
           <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Nuestro objetivo es entregar nuestros productos con la calidad que distingue a los Zarcereños,
             elaborados por manos de emprendedores que desean llevar un pedacito de esa hermosa tierra hasta sus casas.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
